body {
    padding: 65px;
}

.view {
    left: 60px;
    position: relative;
    opacity: 0.0;
}

.card {
    background-color: #efefef;
    border: 1px solid black;
    height: 75px;
    width: 225px;
    margin-bottom: 20px;
}

.card-med {
    background-color: #efefef;
    border: 1px solid black;
    min-height: 15px;
    min-width: 45%;
    max-width: 85%;
	padding: 20px;
    margin-bottom: 20px;
}

.card-wide {
    background-color: #efefef;
    border: 1px solid black;
    min-height: 15px;
    width: auto;
	padding: 20px;
    margin-bottom: 20px;
}

.cardHeader {
    background-color: #006dcc;
    font-size: 14pt;
    color:white;
    padding: 5px;
}

.cardClose {
    color: white;
    font-weight: bold;
    margin-right: 5px;
	padding: 3px 7px !important;
}

.btn.close.cardClose: hover {
	background-color: #7b1f12;
	opacity: 1;
	color: #fff;
}
.cardContainer {
    width: 90%;
}

.cardBody {
    padding-left: 5px;
}

.lastRow {
    background-color: #ccc;
}

.indent {
    margin-left: 20px;
}

.ordersTable {
    width: 95%;
    margin-left: 0;
}

.orders th, .customerOrders th {
    width: 25%;
    cursor: pointer;
}

.ordersTable tr:first-child th {
    background-color: #006dcc;
    color: #fff;
    font-weight: bold;
}


#submitCustomer {
    margin-left: 50px;
    margin-top: -8px;
}

footer {
    margin-top: 10px;
    font-weight: bold;
}


/* Bootstrap overrides */
.navbar-inner {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.navbar .nav {
    margin-left: 50px;
    margin-top: 15px;
}

.close {
    opacity: 1.0;
}

.modal { display:none; }

.datesTable { 
    width: 100%; 
    margin-bottom: 5px;
}
.datesTable tr td, .datesTable tr th {
	background-color: #fff !important;
    padding: 5px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-left: 0 none;
}
.datesTable tr th {
    color: #333 !important;
    border-bottom: 1px solid #bbb;
}    
.ordersTable tr td.white-background, .ordersTable tr td.white-background:hover {
	background-color: #fff !important;
}
.ordersTable .middle {
    vertical-align: middle;
}
button.btn.sp-bot-left {
	margin: 0 0 11px 15px;
}

.editable-click, a.editable-click {
    border-bottom: 0;
    padding-right: 20px;
}
.editable-click:hover, a.editable-click:hover {
    background: url("images/edit.png") no-repeat scroll right top;
}

button.delete-button, button.delete-button-big {
    background: url(images/delete.png) no-repeat;
    border: medium none;
    text-indent: -9999em;
    width: 20px;
    opacity: .55;
}
button.delete-button-big {
    background: url(images/delete-big.png) no-repeat; 
    width: 30px;
    height: 30px;
}
button.delete-button:hover, button.delete-button-big:hover { opacity: 1;}
button.add-button {
    background-color: transparent;
    background-image: url("images/add.png");
    background-position: 3px center !important;
    background-repeat: no-repeat;
    color: #387038;
    padding-left: 28px;
    border: 0 none;
    box-shadow: 0;
    text-shadow: 0;
}
button.add-button:hover {
    background-color: #51a351;
    color: #fff;
}