<table class="table table-hover table-striped table-condensed table-bordered ordersTable" data-ng-controller="OrderChildController">
    <thead>
        <tr>
            <th data-ng-click="setOrder('name')">Name</th>
            <th data-ng-click="setOrder('address')">Address</th>
            <th data-ng-click="setOrder('phone')">Phone</th>
            <th data-ng-click="setOrder('date')">Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-hide="territory.addresses || territory.addresses.length > 0" class="error">
            <td colspan="5">
                <div class="text-center"><strong>No addresses found</strong></div>
            </td>
        </tr>
        <tr data-ng-repeat="address in territory.addresses track by address.id | orderBy:orderby:reverse">
            <td>
                <a href="#" editable-text="address.name" onbeforesave="updateAddress(address.id,'name', $data)">{{ address.name || "none" }}</a>
                 
            </td>
            <td>
                <a href="#" editable-text="address.address" onbeforesave="updateAddress(address.id,'address', $data)">{{ address.address || "none" }}</a>
            </td>
            <td>
                <a href="#" editable-text="address.phone" onbeforesave="updateAddress(address.id,'phone', $data)">{{ address.phone || "none" }}</a>
            </td>
            <td class="white-background">
				<table class="datesTable">
                    <tr data-ng-show="address.dates && address.dates.length > 0">
                        <th>Notes</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
					<tr data-ng-repeat="date in address.dates track by date.id | orderBy:orderby:reverse">
						<td>{{ date.notes?date.notes:'' }}</td>
               			<td>{{ date.date }}</td>
                        <td><button id="DeleteDate" class="delete-button" type="button" data-ng-click="deleteDate(date.id, address.id)" title="Delete this Note">Delete</button></td>
					</tr>
				</table>
                <button id="AddDate" class="btn add-button" type="button" data-ng-click="addDate(address)">Add Note</button>
            </td>
            <td class="middle white-background"><button id="DeleteAddress" class="delete-button-big" type="button" data-ng-click="deleteAddress(address.id)" title="Delete this Address">Delete</button></td>
             
        </tr>
        <tr class="info">
            <td colspan="4">
                &nbsp;
            </td>
            <td>
                <strong> </strong>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="AddDateModal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Enter a New Note</h4>
          </div>
          <div class="modal-body">
            <p>Name: <strong>{{addressSelected.name}}</strong>, Address:  <strong>{{addressSelected.address}}</strong></p>
              <div class="span3">
                <label>Notes:</label> 
 			    <input data-ng-model="newDate.notes" type="text" placeholder="Notes">	 
              </div>
              <div class="span3">
                <label class="">Date:</label>  
                <input data-ng-model="newDate.date" type="text" class="date" placeholder="mm-dd-yyyy" required />
              </div>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
            <button type="button" class="btn btn-primary btn-success"  data-ng-disabled="!newDate.date || !newDate.notes" data-ng-click="addDateEntry(addressSelected.id)">Submit Note</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="DeleteDateModal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete This Note</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this note?</p>
            <p>This operation cannot be reversed.</p>  
            <p>{{selectedDateId}} - {{selectedAddressId}}</p>  
            <div id="date-id"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
            <button type="button" class="btn btn-primary btn-danger" data-ng-click="deleteDateEntry(selectedDateId,selectedAddressId)">Yes, proceed</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="DeleteAddressModal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete This Address</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this address?</p>
            <p>This operation will remove this address and all notes associated with it.</p>
            <p>This cannot be reversed.</p>  
            <div id="date-id"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
            <button type="button" class="btn btn-primary btn-danger" data-ng-click="deleteAddressEntry(selectedAddressId)">Yes, proceed</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


