<div class="customerOrders view">
    <div class="container">
        <header>
            <h3>Territory # {{ territory.terrNumber }}</h3>
			<p>{{ territory.street + ', ' + territory.city }}</p>
        </header>
        
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="updateChecked"> Edit Territory
            </label>
        </div>

        <div class="row animate-show" ng-show="updateChecked">
            <div class="span3">
                Territory #:
                <br />
                <input data-ng-model="territory.terrNumber" type="text" placeholder="Territory #">
            </div>
            <div class="span3">
                Street:
                <br />
                <input data-ng-model="territory.street" type="text" placeholder="Street">
            </div>
            <div class="span3">
                City:
                <br />
                <input data-ng-model="territory.city" type="text" placeholder="City">
            </div>
            <div class="span3">
                <br />
                <button id="submitTerritory" class="btn btn-primary sp-bot-left" type="button" data-ng-disabled="!territory.terrNumber || !territory.street || !territory.city" data-ng-click="updateTerritory()">Update Territory</button>
            </div>
        </div>
        <br /><hr /><br />    
        <div class="checkbox">
		    <label>
				<input type="checkbox" ng-model="addChecked"> Add a New Address
		    </label>
		</div>

        <div class="row" ng-show="addChecked">
            <h4>Add a New Address</h4>
            <div class="span3">
                Name:
                <br />
 			    <input data-ng-model="newAddress.name" type="text" placeholder="Name">	 
            </div>
            <div class="span3">
                Address:
                <br />
 			    <input data-ng-model="newAddress.address" type="text" placeholder="Address">	 
            </div>
            <div class="span3">
                Phone:
                <br />
 			    <input data-ng-model="newAddress.phone" type="text" placeholder="Phone">	 
            </div>
            <div class="span3">
                Date:
                <br />
                <input data-ng-model="newAddress.date" type="text" class="date" placeholder="mm-dd-yyyy" required />
            </div>
            <div class="span3">
                Notes:
                <br />
 			    <input data-ng-model="newAddress.notes" type="text" placeholder="Notes">	 
            </div>
            <div class="span3">
				<br />
                <button id="submitTerritory" class="btn btn-success" type="button"
                    data-ng-disabled="!newAddress.name || !newAddress.address"
                    data-ng-click="addAddress()">Add Address</button>
            </div>
        </div>
        <br /><hr />
        
        
        <div>
            <div class="row">
                <div class="span12">
                    <div class="indent">
                        <div data-ng-include="+ site_url+'/app/partials/addressTable.html'" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
